.main {
  margin-top: 1.5em;
}

.show {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

.signup-form, .login-form {
  margin: 0 auto;
  margin-top: 1.5em;
}

.btn-container {
  
}
